<ng-template #successRegister></ng-template>

<body id="page-top">
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark top-head" id="mainNav">
    <div class="container">
      <div class="navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link  text-uppercase" [routerLink]="['/']">Volver a Home</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Header -->
  <header class="masthead">
    <div class="container">
      <div class="intro-text">
        <div class="submit">
          <img src="../../assets/img/logo-be.png" alt="" />
          <form [formGroup]="formRegister" class="form-signin square-form animated fadeIn">
            <h2 class="form-signin-heading">Regístrate y escribe:</h2>
            <input type="name" id="inputUsername" class="form-control" placeholder="Nombre A." formControlName="usuario"
              [ngClass]="{'is-invalid': formRegister.get('usuario').touched && formRegister.get('usuario').invalid }"
              autocomplete="off">
            <div class="invalid-feedback">
              <div>El campo es obligatorio.</div>
            </div>

            <input type="password" id="inputPassword" class="form-control" placeholder="contraseña (min. 6 caracteres)"
              required formControlName="password" autocomplete="off"
              [ngClass]="{'is-invalid': formRegister.get('password').touched && formRegister.get('password').invalid }">
            <div class="invalid-feedback">
              <div>La contraseña es obligatoria. Min 6 caracteres.</div>
            </div>

            <input type="password" id="inputPassword2" class="form-control" placeholder="Repetir contraseña"
            formControlName="password2" autocomplete="off"
            [ngClass]="{'is-invalid': formRegister.get('password2').touched && formRegister.get('password2').invalid }">
          <div class="invalid-feedback">
            <div>La contraseña es obligatoria.</div>
          </div>
          <div class="invalid-feedback" *ngIf="formRegister.get('password2').invalid">
            Las contraseñas no coinciden.
          </div>

        <input type="text" id="inputCiudad" class="form-control" placeholder="Ciudad" required autofocus formControlName="city" [ngClass]="{'is-invalid': formRegister.get('city').touched && formRegister.get('city').invalid }">
        <div class="invalid-feedback">
          <div>¿Desde dónde nos escribes?... Este campo es requerido</div>
        </div>

        <input type="email" id="inputEmail" class="form-control" placeholder="email" required autofocus
          formControlName="email" autocomplete="off"
          [ngClass]="{'is-invalid': formRegister.get('email').touched && formRegister.get('email').invalid }">
        <div class="invalid-feedback">
          <div>El campo es obligatorio y/o correo no es válido.</div>
        </div>
        <div class="form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1" formControlName="check"
            [ngClass]="{'is-invalid': formRegister.get('check').touched && formRegister.get('check').invalid }">
          <p class="error-forms-styles politica my-2">
            Por favor, acepta la <a class="custom-register" (click)="OpenNewWindow()" target='_blank'>política de privacidad</a>
          </p>
          <div class="invalid-feedback">
            <div>El campo es obligatorio.</div>
          </div>
        </div>

        <button [disabled]="formRegister.invalid" (click)="register()" class="btn btn-lg btn-block btn-custom mt-4">
          Registrarme
        </button>
        <span class="yasoy p-3">¡Ya soy miembro!</span>
        <a class="yasoy btn btn-lg btn-block yasoy-b " [routerLink]="['/login']">Acceder</a>
        </form>
      </div>
    </div>
    </div>
  </header>
</body>